<dialog
id="modal-<%= book.id %>"
class="m-auto backdrop:bg-black/50 p-0 max-w-xl rounded-lg bg-white shadow-lg border-0 open:grid open:place-items-center open:fixed open:inset-0 open:z-50 open:overflow-y-auto"
role="dialog"
aria-modal="true"
aria-labelledby="modalTitle"
closedby="any"
>
<div class="w-full p-6">
    <div class="flex items-start justify-between">
    <h2 id="modalTitle" class="text-xl font-bold text-gray-900 sm:text-2xl"> <%= book.title %></h2>

    <button
        type="button"
        class="-me-4 -mt-4 rounded-full p-2 text-gray-400 transition-colors hover:bg-gray-50 hover:text-gray-600 focus:outline-none"
        aria-label="<%= t(".close") %>"
        data-controller="modal"
        data-action="click->modal#close"
        data-modal-dialog-param="modal-<%= book.id %>"
    >
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-5"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
        />
        </svg>
    </button>
    </div>

    <div class="mt-4">
        <div class="flex flex-row items-start mb-4">
            <%= book_cover(book, class: "basis-1/4 shrink mr-4 max-w-72") %>

            <div class="basis-3/4 flow-root mb-16">
                <dl class="-my-3 divide-y divide-gray-100 text-sm">
                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".title") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"><%= book.title %></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".authors") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"><%= book.author_names %></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".language") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"><%= book.language %></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".publisher") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"> <%= book.publisher %></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".date") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"> <%= book.date %></dd>
                </div>

                <% if book.serie %>
                    <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900"><%= t(".serie") %></dt>
                    <dd class="text-gray-700 sm:col-span-2"> <%= "#{book.serie.name} (#{book.serie_index})" %></dd>
                    </div>
                <% end %>
                </dl>
                </div>
            </div>

            <div class="flex gap-4 mb-5">
                <%= link_to download_book_path(book), data: { turbo: false } do %>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>
                <% end %>

                <% unless browsing_other_library? %>
                  <%= link_to edit_book_path(book), data: { turbo: false } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                      </svg>
                  <% end %>

                  <%= link_to book_path(book), data: { turbo_method: :delete, turbo_confirm: t(".delete_confirm") } do %>
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                      </svg>
                  <% end %>
                <% end %>
            </div>

            <%= sanitize(book.description) %>
        </div>
    </div>
</dialog>
