<div class="mb-8 min-w-full flex items-center gap-4">
    <div class="flex-grow">
        <%= render "shared/search_form", path: series_search_path, placeholder: t(".search_placeholder"), turbo_frame: "series" %>
    </div>

    <% unless browsing_other_library? %>
        <%= link_to download_all_series_path, data: { turbo: false },
            class: "shrink-0 inline-flex items-center gap-2 px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
            </svg>
            <%= t(".download_all") %>
        <% end %>
    <% end %>
</div>

<%= turbo_frame_tag "series" do %>
    <%= render "series/series_list", series: @series %>
<% end %>
